<div class="container-fluid">
  <div class="row">
    <h2 class="text-style list_manu" (click)="listShow()">
      <i class="fas fa-list-ul"></i>
    </h2>
    <div id="headerforAdmin" class="headerforAdmin">
      <!-- <label for="X" class="close textKait">x</label> -->
      <div class="text-center p-3">
        <a class="navbar-brand Skranji text-primary" href="#">
          <img src="/assets/img/logo.png" width="128px" height="128px" alt="" />
        </a>
      </div>
      <div class="p-3 text-center">
        <!-- <p class="textKait text-primary">
          Admin : {{ _user.UserData().firstname }}
        </p> -->
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link colorText"
            routerLinkActive="active"
            routerLink="/user/home"
            ><i class="fas fa-home"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link colorText"
            routerLinkActive="active"
            routerLink="/user/add"
            ><i class="fas fa-plus-square"></i> Add income.</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link colorText"
            (click)="logout()"
            routerLinkActive="active"
            ><i class="fas fa-sign-out-alt"></i> Log out</a
          >
        </li>
      </ul>
    </div>
    <div class="col-12 content_admin"><router-outlet></router-outlet></div>
  </div>
</div>
