/* You can add global styles to this file, and also import other style files */
body {
  background: url("assets/img/rect4355.png");
  background-size: 100%;
}
a,
p,
small,
label,
input,
button,
.text-style {
  font-family: "Kanit", sans-serif;
}
.colorText {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 20px;
  cursor: pointer;
}
.colorText:hover {
  color: red;
}
